.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.howto {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.form-group-attendance {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 20px;
  margin-top: 70px;
  grid-gap: 10px;
  background-color: #4d15e9;
  padding: 20px;
  color: white;
  text-align: left;
}

.form-group-attendance2 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 20px;
  margin-top: 20px;
  grid-gap: 10px;
  background-color: #4d15e9;
  padding: 20px;
  color: white;
  text-align: left;
}

.form-group-attendance3 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 20px;
  margin-top: 20px;
  grid-gap: 10px;
  padding: 20px;
  color: white;
  text-align: left;
}

.save {
  background-color: blue;
  color: white;
  font-size: 50px;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  margin-top: 60px;
}

.addfield {
  background-color: gray;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  text-align: center;
  align-content: center;
  font-size: 50px;
  border-radius: 10px;
}

.field {
  margin-left: 60px;
  padding-left: 100px;
  margin-top: 30px;
}
.form {
  margin-left: 20px;
  margin-right: 40px;
  font-size: 30px;
  padding-left: 50px;
}

.about {
  text-align: center;
  font-size: 50px;
}

.tagline {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.home_image {
  margin: 50px;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.subtitle-dashboard {
  font-size: 50px;
  background-color: purple;
  padding: 30px;
  margin: 70px;
  color: white;
  text-align: center;
}

.create {
  text-align: center;
  margin-left: 320px;
  margin-right: 320px;
  background-color: blue;
  padding: 30px;
  padding-right: 100px;
  padding-left: 100px;
  color: white;
  font-size: large;
  border-radius: 10px;
}

.navbar {
  font-size: 40px;
  color: white;
  margin-left: 30px;
  padding-left: 50px;
  padding-right: 70px;
  background-color: #4d15e9;
}

a:link {
  text-decoration: none;
  color: white;
}

/*/////buttons///*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 80px;
  grid-gap: 10px;
  background-color: #4d15e9;
  padding: 5px;
}

.absent {
  background-color: rgb(255, 119, 16);
  padding: 20px;
  padding-left: 95px;
  padding-right: 95px;
  margin-left: 90px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}

.present {
  background-color: rgb(7, 139, 20);
  padding: 20px;
  padding-left: 95px;
  padding-right: 95px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.register-buttons {
  background-color: #4d15e9;
  color: white;
  padding: 12px;
  border-radius: 7px;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.navbar {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: #6d6875;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(188, 144, 144);
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}